* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #c8c8c8;
}
.l_wrapper {
  transition: padding .5s .01s cubic-bezier(0.19, 1, 0.22, 1);
}
header {
  width: 100%;
  padding: 50px;
  background: #fff;
}
section {
  text-align: center;
}
.content {
  display: inline-block;
  position: relative;
  width: 70%;
  margin: 20px;
  opacity: 0;
}
.content img {
  width: 100%;
}
.content:hover {
  cursor: pointer;
}
.fadeInDown {
  -webkit-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-duration:1s;
  -ms-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(20px); -ms-transform: translateY(20px); transform: translateY(20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}
.content:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 25%;
  right: 25%;
  bottom: 15px;
  border-top: transparent 10px solid;
  border-bottom: transparent 10px solid;
  z-index: 555;
  transition: all .5s ease;
}
.content:hover:before {
  right: 15px;
  left: 15px;
  border-top: #f7b7c5 10px solid;
  border-bottom: #71cdd8 10px solid;
}
.content:after {
  content: "";
  position: absolute;
  top: 25%;
  left: 15px;
  right: 15px;
  bottom: 25%;
  border-right: transparent 10px solid;
  border-left: transparent 10px solid;
  z-index: 555;
  transition: all .5s ease;
}
.content:hover:after {
  top: 15px;
  bottom: 15px;
  border-right: #f7b7c5 10px solid;
  border-left: #71cdd8 10px solid;
}
#preloader {
  position: fixed;
  background: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  font-size: 200%;
  z-index: 999;
  vertical-align: middle;
  text-align: center;
}
